@{
    ViewBag.Title = "ListSanPham";
    Layout = "~/Views/Shared/nav.cshtml";
    <link href="~/Content/Css/ListMenuStylesheet.css" rel="stylesheet">
}

<div class="list_sanpham" style="display:flex">
    <div class="content-bibot">
        <div class="bibot-left">
            <h2 style="margin-top:0; padding-left:10%"><a style="text-decoration:none; color:white" href="@Url.Action("ListSanPham","Home")">Menu</a></h2>
            <form method="post" action="/Home/LocDanhMuc">
                <ul>
                    <li>
                        <button type="submit" name="id" value="1">Trà sữa</button>
                    </li>
                    <li>
                        <button type="submit" name="id" value="2">Trà</button>
                    </li>
                    <li>
                        <button type="submit" name="id" value="3">Đá xay</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="bibot-right">
        <div class="search-container">
            <h2>Tìm Kiếm Sản Phẩm</h2>
            <form action="/Home/TimKiemSanPham" method="post">
                <div class="search-box">
                    <input type="text" name="TenSP" placeholder="Nhập tên sản phẩm..." />
                    <button type="submit">Tìm Kiếm</button>
                </div>
            </form>
        </div>
        <div class="list-card">
            @foreach (var sp in ViewBag.list)
            {
                float sp2 = 0;
                int sp6 = 0;

                if (sp[2] != null && float.TryParse(sp[2].ToString(), out sp2) && sp2 >= 0)
                {
                    if (sp[6] != null && int.TryParse(sp[6].ToString(), out sp6) && sp6 > 0)
                    {
                        var salePrice = sp2 - ((sp2 / 100) * sp6);
                        <div class="card">
                            <div class="card-top">
                                <i class='bx bx-heart'></i>
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="card-img">
                                <img src="~/Content/Picture/@sp[3]">
                            </div>
                            <div class="card-bot">
                                <span>@sp[1]</span>
                                <span style="text-decoration: line-through;">@sp[2]</span>
                                <span id="sale">@salePrice</span>
                                <div class="card-size">
                                </div>
                                <div class="btn-buy-order">
                                    <a href="@Url.Action("Chitiet", "Home", new { idsp = sp[0] })">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                    else { 
                        
                     // Hiển thị giá gốc nếu không có giá trị giảm giá
                        <div class="card">
                            <div class="card-top">
                                <i class='bx bx-heart'></i>
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="card-img">
                                <img src="~/Content/Picture/@sp[3]">
                            </div>
                            <div class="card-bot">
                                <span>@sp[1]</span>
                                <span>@sp[2]</span>
                                <div class="card-size">
                                </div>
                                <div class="btn-buy-order">
                                    <a href="@Url.Action("Chitiet", "Home", new { idsp = sp[0]})">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        }
                    }
                }

        </div>
    </div>
</div>
<script>
    document.addEventListener('click', function (event) {
        if (event.target.matches('#menu, #menu1')) {
            const sideBar = document.querySelector('.side-bar');
            const overlaySidebar = document.querySelector('.overlay-sidebar');
            if (sideBar && overlaySidebar) {
                sideBar.classList.toggle('active');
                overlaySidebar.classList.toggle('active');
            }
        }

        if (event.target.matches('.overlay-sidebar')) {
            document.querySelector('.side-bar').classList.remove('active');
            document.querySelector('.overlay-sidebar').classList.remove('active');
        }
    });
</script>