@{
    Layout = null;
}

@if (ViewBag.list != null && ViewBag.list.Count > 0)
{
    <table border="1">
        @foreach (var row in ViewBag.list)
        {
            <tr>
                @{
                    var rowList = ((Dictionary<string, object>)row).ToList(); // Chuyển thành danh sách các cặp khóa-giá trị
                }

                <td>@rowList[1].Value</td> 
                <td>@rowList[2].Value</td> 
                <td>@rowList[3].Value</td> 
                <td>@rowList[5].Value</td> 
                <td>@rowList[6].Value</td> 
            </tr>
        }
    </table>
}
else
{
    <p>Không có dữ liệu.</p>
}
