@{
    Layout = null;
}

@if (ViewBag.list != null && ViewBag.list.Count > 0)
{
    <table border="1">
        @foreach (var row in ViewBag.list)
        {
            <tr>
                <td>@row[1]</td> 
                <td>@row[2]</td> 
                <td>@row[3]</td> 
                <td>@row[5]</td> 
                <td>@row[6]</td> 
            </tr>
        }
    </table>
}
else
{
    <p>Không có dữ liệu.</p>
}
