﻿﻿
@{
    ViewBag.Title = "Voucher";
    Layout = "~/Views/Shared/_TrangCaNhanLayout.cshtml";
    <link href="~/Content/Css/CouponStyleSheet.css" rel="stylesheet" />
}


<!-- Voucher Cards Container -->
<div class="coupon-container">
    @foreach (var vc in ViewBag.list)
    {
        var startDate = DateTime.Parse(vc[4].ToString());
        var endDate = DateTime.Parse(vc[5].ToString());
        var now = DateTime.Now;
        var remainingTimeSpan = endDate - now;
        var notYetActive = startDate > now; // Kiểm tra nếu chưa đến ngày bắt đầu

        <div class="coupon">
            <div class="coupon-left">
                <div class="tag">HOT</div>
                <img alt="Shop icon" src="~/Content/Picture/discount.png" />
            </div>
            <div class="coupon-right">
                <div class="discount">@vc[2]-@vc[6]% </div>
                <div class="min-order">Đơn hàng trên @vc[7] VND</div>
                <div class="expiry">
                    @if (notYetActive)
                    {
                        <span style="color: blue;">Hiệu lực từ: @startDate.ToString("dd/MM/yyyy")</span>
                    }
                    else if (remainingTimeSpan.TotalSeconds > 0)
                    {
                        if (remainingTimeSpan.TotalHours > 24)
                        {
                            var days = (int)remainingTimeSpan.TotalDays;
                            var hours = remainingTimeSpan.Hours;
                            <span>Sắp hết hạn: Còn @days ngày @hours giờ</span>
                        }
                        else
                        {
                            var hours = (int)remainingTimeSpan.TotalHours;
                            var minutes = remainingTimeSpan.Minutes;
                            <span>Sắp hết hạn: Còn @hours giờ @minutes phút</span>
                        }
                    }
                    else
                    {
                        <span style="color: red;">Voucher đã hết hạn</span>
                    }
                </div>
                <a class="conditions" href="#">@vc[3]</a>
                <div class="button-row">
                    <form action="~/Home/ListSanPham">
                        <input type="hidden" name="idvc" value="@vc[0]" />
                        <button type="submit" class="save">Áp dụng</button>
                    </form>
                    <form action="/TrangCaNhan/XoaVch" method="post" style="display: inline;">
                        <input type="hidden" name="idvc" value="@vc[1]" />
                        <button type="submit" class="delete">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>