@{
    ViewBag.Title = "HomeNV";
<<<<<<< HEAD
    <title>Trang chủ nhân viên</title>
    <link href="~/Content/Css/NVStyleSheet.css" rel="stylesheet"/>
<<<<<<< HEAD
=======
>>>>>>> vanh
=======
>>>>>>> cb87498d6ffd9f14de97eb1cd048fe1ef0593e1d
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/HomeNVStyleSheet.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="~/Content/Picture/logo.jpg" alt="TSWeb">
            <span>QUẢN LÝ NHÂN VIÊN</span>
        </div>
        <div class="user-info">
            <span>@DateTime.Now.ToString("HH:mm:ss | dddd, 'ngày' dd 'tháng' MM 'năm' yyyy")</span>
            <img src="~/images/avatar.png" alt="Avatar" />
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
        <ul>
            <li>@Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")</li>
            <li>@Html.ActionLink("ĐƠN HÀNG", "HomeNV", "NhanVien")</li>
            <li>@Html.ActionLink("CA LÀM", "LichHen", "BenhNhan")</li>
            <li>@Html.ActionLink("HÓA ĐƠN", "DanhMuc", "BenhNhan")</li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main>
        <button class="btn-them-dh">
            Thêm đơn hàng
        </button>
        @foreach (var a in ViewBag.list)
        {
            <section class="dashboard">
                <div class="card">
                    <span>Đơn hàng số: @a[0]</span>
                    <span>Ngày thanh toán : @a[1]</span>
                    <span>Trạng thái: @a[2]</span>
                    <span>Tổng tiền :@a[3]</span>
                    <span>@a[4]</span>
                </div>
            </section>
        }

    </main>

</body>
</html>
