
@{
    ViewBag.Title = "DangNhap";
    <link href="~/Content/Css/LoginStyleSheet.css" rel="stylesheet" />
    Layout = null;
}
@model TSWeb.Models.DangNhapDKModels


<div class="container">
    <div class="box signin">
        <h2>Already Have an Account ?</h2>
        <button class="signinBtn">Sign in</button>
    </div>
    <div class="box signup">
        <h2>Don't Have an Account ?</h2>
        <button class="signupBtn">Sign up</button>
    </div>
    <div class="formBx">
        <div class="form signinform">
            @using (Html.BeginForm())
            {
                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.MatKhau, "Mật khẩu")
                    @Html.PasswordFor(m => m.MatKhau)
                    @Html.ValidationMessageFor(m => m.MatKhau)
                </div>
                <button type="submit">Login</button>
            }


        </div>
        <div class="form signupform">
            @using (Html.BeginForm("DangNhap", "DangNhapDK", FormMethod.Post))
            {
                <div>
                    @Html.LabelFor(m => m.TenND, "Họ và tên")
                    @Html.TextBoxFor(m => m.TenND)
                    @Html.ValidationMessageFor(m => m.TenND)
                </div>
                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.MatKhau, "Mật khẩu")
                    @Html.PasswordFor(m => m.MatKhau)
                    @Html.ValidationMessageFor(m => m.MatKhau)
                </div>
                <div>
                    @Html.LabelFor(m => m.MatKhau, "Nhập lại mật khẩu")
                    @Html.PasswordFor(m => m.MatKhau)
                    @Html.ValidationMessageFor(m => m.MatKhau)
                </div>
                <div>
                    @Html.LabelFor(m => m.Sdt, "Số điện thoại")
                    @Html.TextBoxFor(m => m.Sdt)
                    @Html.ValidationMessageFor(m => m.Sdt)
                </div>
                <div>
                    @Html.LabelFor(m => m.Diachi, "Địa chỉ")
                    @Html.TextBoxFor(m => m.Diachi)
                    @Html.ValidationMessageFor(m => m.Diachi)
                </div>
                <button type="submit">Register</button>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/LoginJavaScript.js"></script>